.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.App ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}